@import url('https://fonts.googleapis.com/css2?family=Poppins%3Awght%40400%3B500%3B600%3B700&display=swap%27%29%3B');

*{
    margin: 0;
    padding: o;
    box-sizing: border-box;
    font-family:"poppins",sans-serif;
}

.header-sec{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 80px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    z-index: 100px;
}

nav{
    background: transparent;
    height: 90px;
    width: 100%;
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 86px;
    font-weight: bold;
}

.logo span{
    color: #ff0077;
}

nav ul{
    float: right;
}

nav ul li{
      display: inline-block;
      line-height: 80px;
      margin: 5px;
}

nav ul li a{
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,a:hover{
    background: #ff0077;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: #ff0077;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media screen and(max-width :952px){
    .header-sec{
         padding: 0 40px;
    }
    label.logo{
        font-size: 26px;
    }
    nav ul li a{
        font-size: 20px;
    }
}

@media screen and(max-width:858px) {
.checkbtn{
    display: block;
    font-size: 26px;
    margin-top: 5px;
}
u1{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2b2b2b;
    top: 80px;
    left: -100px;
    text-align: center;
    transition: all .5s;
}
nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 10px;
}
nav ul li a{
    font-size: 20px;
}
a:hover,a.active{
    background: none;
    color: #df003b;
}
#check:checked ~ u1{
    left: 0;
}
}

.hero{
    background-color: #0000004c;
    background-image: url(/asset/lap.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: color;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 80px;
}

.hero-content{
    width: 600px;
}

.hero-content h1{
    color: #ebebeb;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    padding-top: 80px;
}

.hero-content h2{
    color: #ff0077;
    font-size: 34px;
    font-weight: 600;
}

.hero-content p{
    font-size: 16px;
    color: #ebebeb;
    line-height: 26px;
    margin: 20px 0 40px;
}

.btn-box{
    display: flex;
    justify-content: space-between;
    width: 350px;
    height: 50px;
}

.btn-box a{
   position: relative;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   width: 150px;
   height: 100%;
   background: #ff0077;
   border: 2px solid #ff0077;
   border-radius: 8px;
   font-size: 18px;
   color: #ebebeb;
   text-decoration: none;
   letter-spacing: 1px;
   font-weight: 609;
   z-index: 1;
   overflow: hidden;
   transition: 0.5s;
}

.btn-box a:hover{
    color: #fff;
}

.btn-box a:nth-child(2){
    background: transparent;
    color: #ff0077;
}

.btn-box a:nth-child(2):hover{
    color: #ebebeb;
}

.btn-box a:nth-child(2)::before{
    background: #ff0077;
}

.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background: #000;
    z-index: -1;
    border-radius: 8px;
    transition: 0.5s;
}

.btn-box a:hover::before{
    width: 100%;
}

.social-icon{
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.social-icon a{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
    color: #ff0077;
    font-size: 20px;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #ff0077;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}

.social-icon a:hover{
    color: #ebebeb;
}

.social-icon a::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background-color: #ff0077;
    z-index: -1;
    transition: 0.5s;
}

.social-icon a:hover::before{
    width: 100%;
}

@media screen and(max-width: 952px) {
    .herp{
        padding: 0 40px;
    }
    .hero h1{
        padding: 60px 0 0 0;
    }
}

.heroine{
    background-color: #0000004c;
    background-image: url(/asset/iphone.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: color;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 80px;
}

.heroine-content{
    width: 600px;
}

.heroine-content h2{
    color: #ff0077;
    font-size: 34px;
    font-weight: 600;
}

.heroine-content p{
    font-size: 16px;
    color: #ebebeb;
    line-height: 26px;
    margin: 20px 0 40px;
}

.villan{
    background-color: #0000004c;
    background-image: url(/asset/lap3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: color;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 80px;
}

.villan h2 {
    color: #ff0077;
    font-size: 34px;
    font-weight: 600;
}

.villan h3{
    color: #ebebeb;
}

.villan p{
    font-size: 16px;
    color: #ebebeb;
    line-height: 26px;
    margin: 20px 0 40px;
}

.comedy{
    background-color: #0000004c;
    background-image: url(/asset/lap4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: color;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 80px;
}

.comedy h2{
    color: #ff0077;
    font-size: 34px;
    font-weight: 600;
}

.comedy ul li b{
    color: #ebebeb;
}

.comedy ul li{
    color: #ebebeb;
}

.script{
    background-color: #0000004c;
    background-image: url(/asset/lap5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: color;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 80px;
}

.script h2{
    color: #ff0077;
    font-size: 34px;
    font-weight: 600;
}

.script b{
    color: #ebebeb;
}

#contact-form input,#contact-form textarea {
    display: block;
    width:350px;
    height: 30px;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

#contact-form button {
    background: #ff0077;
    color: #ebebeb;
    padding: 0.8rem;
    border: none;
    cursor: pointer;
    margin-left: 100px;
    margin-top: 30px;
    border-radius: 8px;
}

#contact-form button:hover {
    background-color: #ff4500;
}









